.content {
    text-align: center;
}
.content__heading {
    font-size: 12em;
    font-weight: 900;
    color: $color-green;
    line-height: 1.5;

}
.content__text--big {
    font-size: 60px;
    font-family: $font-second;
    padding-bottom: 30px;
}
.content__text--small {
    font-weight: 500;
    font-size: 2em;
    padding-bottom: 50px;
}
.content__block {
    display: flex;
    justify-content: center;
    padding-bottom: 40px;
}
.content__item {
    flex: 0 1 20%;
    padding: 16px 0px;
    border: 1px solid $color-white;
    transition: all 1s;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    a {
        padding: 16px 0px;
        font-size: 2.2em;
        color: $color-white;
        font-weight: 500;
    
    
}
    &:hover {
        background-color: $color-green;
        transition: all s;
        -webkit-transition: all 1s;
        -moz-transition: all 1s;
        -ms-transition: all 1s;
        -o-transition: all 1s;
        a:hover {
            color: $color-black;
}
    }

}
.track__block {
    flex: 1 1 50%;
    padding: 0px 20px;
}
.content__track {
    display: flex;
    padding-bottom: 75px;
}
.track__item {
    padding-bottom: 70px;
}

.track__name {
    font-size: 8em;
    font-weight: 900;
    line-height: 1.5;
}
.track__name--green {
color: $color-green;
}
.track__text {
    font-size: 30px;
    padding: 0px 100px;

}

.teach__block {
    border: 1px solid $color-green;
    margin: 0px -10px;
    
}
.teach__block--first{
    border: 1px solid $color-white;
}
.teach__heading {
    background-color: $color-green;
    color: $color-black;
    font-size: 2.5em;
    line-height: 120%;
    font-weight: 900;
}
.teach__item {
    display: flex;
    border-bottom: 1px solid rgb(255, 255, 255, 0.2);
    padding: 25px 0px 20px;
    margin: 0px 20px 15px 30px;
    position: relative;
    &:last-child {
        border: none;
        font-size: 2.5em;
        display: block;
    }

}
.teach__photo__block {
    display: flex;
}
.teach__date {
    text-align: start;
    position: absolute;
    p {
        font-family: $font-second;
        font-size: 25px;
        line-height: 120%;
        color: $color-green;
    }
    span {
        font-size: 25px;
        line-height: 120%;
    }

}
.teach__icon {
    margin-top: 100px;
    
}
.teach__photo {
    padding: 0px 50px;
}
.teach__info {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.info__slogan {
    font-size: 2.2em;
    line-height: 120%;
    text-align: start;
    padding-right: 70px;
    padding-left: 10px;
}
.info__button {
    padding: 10px;
}
.button__item {
    font-family: $font-second;
    font-size: 2em;
    line-height: 1.2;
    padding: 8px 30px;
    box-sizing: border-box;
}
.button__show {
    background-color: $color-green;
    border: 2px solid $color-green;
}
.button__add {
    border: 2px solid $color-white;
    background-color: transparent;
    color: $color-white;
}

.teach__heading--descktop {
padding: 10px 0px;
margin: 0px 10px;
position: relative;
top: 281px;
font-size: 35px;
display: none;
}
