.header {
    background-image: linear-gradient(180deg, rgba(23, 23, 22, 0) 57.87%, #171716 79.58%), url(img/back.jpg);
    
    .navigation {
        background-color: $color-black;
        display: flex;
        justify-content: space-around;
        padding: 20px 0px;
        border-bottom: 1px solid rgb(255, 255, 255, 0.2);
        .nav {
            ul {
                display: flex;
                padding: 10px 20px 20px;
                li {
                    font-size: 2em;
                    font-family: $font-second;
                    text-transform: uppercase;
                    padding: 0px 20px;
                    a {
                        color: $color-white;
                    }
                }
            }
        }

    }
    .header__content {
        display: flex;
        margin: 50px auto;
        max-width: 1160px;
        justify-content: space-between;
        .header__info {
            display: flex;
            flex-direction: column;
            flex: 1 1 50%;
                .info__item--heading{
                    font-size: 7em;
                    font-family: $font-second;
                    line-height: 1.2;
                    color: $color-green;
                    padding-bottom: 30px;
                }
                .info__item--info-small{
                    font-size: 1.8em;
                    color: $color-white;
                    opacity: 0.5;
                    text-transform: uppercase;
                    padding-bottom: 10px;
                }
                .info__item--info--big{
                    font-size: 3.5em;
                    color: $color-white;
                    opacity: 0.5;
                    line-height: 120%;
                    max-width: 400px;
                    font-weight: 700;
                }
                .info__item--green{
                    font-size: 3.5em;
                    color: $color-green;
                    line-height: 120%;
                    padding-bottom: 40px;
                    font-weight: 700;
                }
                }
                .header__button {
                    button {
                    font-size: 40px;
                    font-family: $font-second;
                    padding: 10px 110px;
                    text-transform: uppercase;
                    }
            }
        }
    }
    .header__online {
        text-align: center;
        margin: -100px 0px 0px;
        padding-bottom: 150px;
        a {
            font-size: 6.5em;
            padding: 0px 120px;
            font-family: $font-second;
            color: $color-green;
            border: 1px solid $color-green;
            background-color: $color-black;
        }
    }

.header__heading {
    position: absolute;
}
.header__image {
    flex: 1 1 50%;
    img {
        display: block;
        max-width: 100%;
    }
}